.container {
    font-family: sans-serif;
    width: 1280px;
    margin: 0 auto;
}

.nospace {
    font-size: 0;
    line-height: 0;
}

.nav-bar-menu{
    color: white;
}

.nav-bar-menu ul {
    margin: 0 auto;
    text-align: center;
}

.nav-bar-menu ul li {
    display:inline-block;
    margin-left: 75px;
}


.nav-bar-link{
    display:inline-block;
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 32px;

}

.nav-bar-link:hover{
    color: black;
}


.info-block{
    display: inline-block;
    background-color: #f5f6f7;
    text-align: center;
    font-size: 22px;
    line-height: normal;
    color: rgba(55, 55, 55, 255);
    padding-bottom: 94px;
}

.info-block-header {
    margin-top: 56px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.info-block p {
    margin-top: 34px;
    padding-left: 113px;
    padding-right: 108px;

}

.button-bot{
    display: inline-block;
    text-decoration: none;
    margin-top: 41px;
    text-transform: uppercase;
    background: #16a085;
    color: white;
    padding: 23px 45px 18px 43px;
}

.footer{
    text-align: right;
    color: rgba(55, 55, 55, 255);
    margin-top: 47px;
    margin-right: 104px;
    font-size: 16px;
    font-weight: 700;
    color: #373737;
}